<!-- <div class="row">
    <div class="col-12"> <h3 class="text-white text-center">Login</h3>

        <div class="container w-50 bg-secondary mt-5 rounded text-center pt-3">
           
            <input type="text" class="form-control mt-5" placeholder="Account NO " id="accno">
            <input type="password" class="form-control mt-3" placeholder="Password" id="pass">
            <button class="btn btn-info text-center mt-5 mb-2">Login</button>
        </div>
    </div >
</div > -->
    <div class="text-info mt-2 ps-5">
        <h3>{{data}}</h3></div>
    
        
           <section class="loginpage container " >
                <div class="row    ">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12  ">
                        
                       
                        <form action="" class="input-icons w-75 bg-light p-5 rounded me-auto  text-center mt-3 ms-5" [formGroup]="loginForm" >
                            <h5>Banking Corperate</h5>
                            <input formControlName="accno" type="text" name="name1" id="n1" [placeholder]="data1" class="mt-5 inp ps-2 log-id  form-control"  required >
                            <div class="bg-danger d-inline text-white text-start" *ngIf="this.loginForm.get('accno')?.errors &&this.loginForm.get('accno')?.touched">please enter number only</div>
                            <input formControlName="pass" type="password" name="pass1" id="p1" placeholder="Password" class="mt-3  ps-2 log-pass form-control" required  >
                            <div class="bg-danger d-inline text-white text-start" *ngIf="this.loginForm.get('pass')?.errors &&this.loginForm.get('pass')?.touched">numbers and characters only allowed</div><br>
                            <button (click)="login()" class=" btn btn-info mt-3" >Login</button>
                            <p class="para mt-3 text-decoration-none " style="font-size: 0.9em;">Don't have an account? <a href="register"  id="lin">SIGNUP </a> here</p>
                        </form>
                    </div >
                </div >
           </section >
        

