
.btn{
    text-align: center;
}
.main-logo{
    position: relative;

    
}
.logo-desig{
    position: absolute;
    background-color: white;
    left: 42%;
    top: 160px;
    width: 20%;
    height: 75px;
    border-radius: 70px;
    padding: 19px 24px;
}
.logform{
    position: absolute;
    top: 190px;
    left: 90px;
    background-color: white;
    padding: 70px 5px;
    width: 60%;
    z-index: -1;
    border-radius: 30px;
}
.log-but{
    background-color: rgb(250, 79, 107);
    border: none;
    color: white;
    font-size: 1em;
    font-weight: 400;
    width: 90%;
}
.log-id{
    width: 90%;
}
.log-pass{
    width: 90%;
}
.input-icons .fa{
    position: absolute;
    top: 1.4em;
    left: 1.5em;
    
}
.input-icons .fa-solid{
    position: absolute;
    top: 4.1em;
    left: 1.5em;
    
}
.input-icons {
    position: relative;
}
.inp::-webkit-input-placeholder {
    padding-left: 0px;
 }
 .log-id,.log-pass{
    border: 1px solid rgb(70, 69, 69);
 }
 #lin{
    text-decoration: none;
 }
 @media screen and (min-width:600px) and (max-width:1023px){
    .logform{
       
        top: 60px;
        left: 180px;
        
        padding: 50px 5px;
        width: 43%;
        z-index: -1;
        border-radius: 30px;
    }
    .logo-desig{
        position: absolute;
        background-color: white;
        left: 45%;
        top: 25px;
        width: 13%;
        height: 75px;
        border-radius: 70px;
        padding: 14px 24px;
    }
   
 }
 @media screen and (min-width:1024px)and (max-width:1920px) {
    /* .logform{
        position: absolute;
        top: 120px;
        left: 330px;
        background-color: white;
        padding: 70px 30px;
        width: 30%;
        z-index: -1;
        border-radius: 30px;
    }
    .logo-desig{
        position: absolute;
        background-color: white;
        left: 46%;
        top: 90px;
        width: 7%;
        height: 90px;
        border-radius: 90px;
        padding-left: 19px;
        padding: 15px; 
    }
    .input-icons .fa{
        
       
        left: 1.3em;
        
    }
    .input-icons .fa-solid{
        
        left: 1.3em;
        
    }
    .para{
        font-size: 0.9rem;
    } */
    .logform{
       
        top: 100px;
        left: 500px;
        
        padding: 50px 5px;
        width: 25%;
        z-index: -1;
        border-radius: 30px;
    }
    .logo-desig{
       
        left: 46%;
        top: 65px;
        width: 6%;
        height: 75px;
        border-radius: 70px;
        padding: 14px 18px;
    }
 }
 