<h1 class="text-info ms-5">welcome {{user}}</h1>
<div class="transac "><a routerLink="/transaction" class=" text-danger" style="text-decoration: none;">Transaction History</a>
</div>
<div class="row ">
    <div class="col-lg-6 col-md-6 col-sm-12   p-3 ">
        <h2 class="text-primary ms-5">Deposit Form</h2>
        <form action="" class="text-center p-4 w-50 bg-light ms-5 rounded" [formGroup]="depositForm">
            <input formControlName="acno" type="text" class="form-control mt-3" placeholder="Enter account number" id="d1" name="dn1">
            <div class="bg-danger " *ngIf="this.depositForm.get('acno')?.errors&&this.depositForm.get('acno')?.touched">numbers only</div>
            <input formControlName="pasw"type="password" class="form-control mt-3" placeholder="Enter password" id="d2" name="dn2">
            <div class="bg-danger " *ngIf="this.depositForm.get('pasw')?.errors&&this.depositForm.get('pasw')?.touched">numbers and characters only</div>

            <input formControlName="amnt"type="text" class="form-control mt-3" placeholder="Enter the amount" id="d3" name="dn3">
            <div class="bg-danger " *ngIf="this.depositForm.get('amnt')?.errors&&this.depositForm.get('amnt')?.touched">number only allowed</div>

            <button class="btn btn-success mt-3" (click)="deposit()">Deposit</button>
        </form>

    </div>
    <div class="col-lg-6  p-3 col-md-6 col-sm-12  ">
        <h2 class="text-primary ms-5">Withdrawl Form</h2>
        
        <form action="" class="text-center p-4 w-50 bg-light ms-5 rounded" [formGroup]="withdrawlForm">
            <input formControlName="acno1" type="text" class="form-control mt-3" placeholder="Enter account number" id="w1" name="wn1">
            <div class="bg-danger " *ngIf="this.withdrawlForm.get('acno1')?.errors&&this.withdrawlForm.get('acno1')?.touched">numbers only</div>

            <input formControlName="pasw1"type="password" class="form-control mt-3" placeholder="Enter password" id="w2"name="wn2">
            <div class="bg-danger " *ngIf="this.withdrawlForm.get('pasw1')?.errors&&this.withdrawlForm.get('pasw1')?.touched">numbers and characters only</div>

            <input formControlName="amnt1" type="text" class="form-control mt-3" placeholder="Enter the amount" id="w3" name="wn3">
            <div class="bg-danger " *ngIf="this.withdrawlForm.get('amnt1')?.errors&&this.withdrawlForm.get('amnt1')?.touched">numbers only</div>

            <button class="btn btn-success mt-3" (click)="withdrawl()">Withdrawl</button>
        </form>

    </div>
</div>
